@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;
$purple: #404254;
$gold: #8f886c;
$orange: #e69f76;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

* {
  font-family: 'Open Sans', sans-serif;
  // border: 1px solid red;
}

body {
  @include outer-container(1500px);
  font-family: $base-font-family;
  color: $base-font-color;
  margin: 0;
  padding: 0;
  background-color: #25282b;
}

img {
  max-width: 100%;
}

.slanted {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-style: italic;
}

a {
  text-decoration: none;
}

input {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  width: 360px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
  color: white;
  font-weight: 100;
  padding: 5px;
  @include media(max-width 450px) {
    width: 300px;
  }
}

button {
  outline: none;
}

form {
  // margin-left: 30px;
  // text-align: left;
  padding: 5px;
  @include media(max-width 450px) {
    @include span-columns(12);
    margin-left: 0;
    text-align: center;
  }
}

.white-bar {
  border-color: white;
}

.form-head {
  text-align: left;
  text-transform: uppercase;
  font-size: 11px;
  @include media(max-width 450px) {
    text-align: center;
  }
}

.form-submit {
  @include shift(1);
  width: 270px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: $orange;
  border: 1px solid white;
  text-align: center;
  margin-top: 10px;
  margin-left: 50px;
  @include media(max-width 450px) {
    @include shift();
    margin-left: 0;
  }
  transition: 1s;
}

.form-submit:hover {
  background-color: white;
  color: $purple;
  transition: 1s;
}

.black {
  color: black;
}

.orange {
  color: $orange;
}

.gold {
  color: $gold;
}

.white {
  background-color: white;
  color: white;
}

.purple {
  background-color: $purple;
  color: $purple;
}

.container {
  @include span-columns(12);
  height: auto;
  // @include media(min-width 1300px) {
  //   @include shift(2);
  //   transition: 1s;
  // }
  // @include media(min-width 1400px) {
  //   @include shift(2.5);
  //   transition: 1s;
  // }
  // @include media(min-width 1500px) {
  //   @include shift(3);
  //   transition: 1s;
  // }
  // @include media(min-width 1600px) {
  //   @include shift(3.5);
  //   transition: 1s;
  // }
  // @include media(max-width 800px) {
  //   @include span-columns(12);
  //   @include shift(0);
  //   transition: 1s;
  // }
}

.top-header {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.first-section {
  min-height: 650px;
  padding-top: 10px;
  @include media(max-width 450px) {
    padding-bottom: 15px;
    transition: 1s;
  }
}

.second-section {
  min-height: 600px;
}
//
// .third-section {
//   min-height: 312px;
// }
//
// .fourth-section {
//   min-height: 450px;
// }
//
// .fifth-section {
//   min-height: 370px;
// }

.left-box {
  @include span-columns(3);
  @include shift(3);
  @include omega();
  float: left;
  @include media(max-width 450px) {
    @include span-columns(12);
    float: none;
    transition: 1s;
    @include shift(0);
    margin-bottom: 100px;
  }
}

.right-box {
  @include span-columns(3);
  @include shift(1);
  @include omega();
  float: left;
  @include media(max-width 870px) {
    min-width: 350px;
  }
  @include media(max-width 450px) {
    @include span-columns(10);
    float: none;
    transition: 1s;
    @include shift(2);
  }
}

.header-logo {
  // @include shift(5.5);
  width: 200px;
}

.first-left {
  @include span-columns(5);
  @include shift(1);
  @include omega();
  min-width: 230px;
  max-width: 350px;
  transition: 1s;
  text-align: center;
  @include media(min-width 1000px) {
    @include shift(1.5);
  }
  @include media(min-width 1100px) {
    @include shift(2);
  }
  @include media(min-width 1200px) {
    @include shift(2.5);
  }
  @include media(max-width 450px) {
    @include span-columns(8);
    @include shift(2);
    transition: 1s;
    margin-bottom: 150px;
  }
}

.first-text-left {
  width: 300px;
  height: 175px;
  @include media(max-width 450px) {
    width: 350px;
  }
}

.first-text-one {
  text-transform: uppercase;
  font-size: 55px;
  color: white;
  font-weight: 700;
}

.first-text-two {
  text-transform: uppercase;
  font-size: 55px;
  color: white;
  font-weight: 700;
}

.first-text-em {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 35px;
  margin-top: 5px;
  color: white;
}

.first-text-gold {
  color: $gold;
  font-size: 55px;
  font-weight: 700;
}

.text-box {
  height: 325px;
  text-align: center;
  @include media(max-width 450px) {
    @include span-columns(12);
  }
}

.first-right {
  @include span-columns(5);
  @include omega();
  padding: 5px;
  max-width: 350px;
  @include media(max-width 870px) {
    min-width: 350px;
    margin-top: 300px;
    transition: 1s;
  }
  @include media(max-width 450px) {
    @include span-columns(10);
    @include shift(1);
    transition: 1s;
    margin-top: 200px;
    text-align: center;
  }
}

.first-right-title {
  margin-top: 10px;
  margin-bottom: 2px;
  text-transform: uppercase;
  text-align: left;
  font-size: 33px;
  @include media(max-width 450px) {
    text-align: center;
  }
}

.first-right-text {
  font-size: 24px;
  color: white;
  font-weight: 100;
}

.second-section {
  text-align: center;
}

.option-head {
  margin-bottom: 5px;
  font-size: 25px;
}

.option-title {
  font-weight: 100;
  margin-top: 0;
  font-size: 30px;
  text-transform: uppercase;
  color: $gold;
  margin-bottom: 5px;
}

.option-bold {
  font-weight: 600;
  font-style: bold;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 0;
  color: $gold;
}

.option-container {
  @include span-columns(11);
  @include shift(.5);
  min-height: 450px;
  margin-top: 30px;
  margin-bottom: 0;
  transition: 1s;
  @include media(max-width 1275px) {
    min-height: 700px;
  }
  @include media(max-width 450px) {
    @include shift(.5);
  }
  @include media(min-width 1300px) {
    @include shift(1);
    transition: 1s;
  }
}

.option-box {
  height: 300px;
  text-align: center;
  float: left;
  margin-left: .5%;
  margin-bottom: 0;
  @include media(max-width 450px) {
    @include span-columns(12);
    margin-bottom: 70px;
    margin-left: 0;
    transition: 1s;
    text-align: center;
  }
}

.option-image {
  width: 287px;
  height: 191px;
  margin-top: 0;
}

.second-text {
  @include span-columns(12);
  font-weight: 100;
  margin-top: 0;
  font-size: 40px;
  margin-bottom: 35px;
  @include media(max-width 450px) {
    margin-top: 50px;
  }
}

.form-head {
  @include span-columns(12);
  color: white;
}

.third-section {
  padding-top: 20px;
  text-align: center;
}

.third-title {
  font-weight: 700;
  font-size: 55px;
  @include media(max-width 450px) {
    font-weight: 300;
  }
}

.third-text {
  font-weight: 700;
  font-size: 55px;
  @include media(max-width 450px) {
    font-weight: 300;
  }
}

.third-list {
  @include span-columns(10);
  @include shift(1);
  font-size: 22px;
  margin-bottom: 35px;
  @include media(max-width 450px) {
    @include span-columns(11.8);
    @include shift(.1);
    transition: 1s;
  }
}

.third-box {
  @include span-columns(11);
  @include shift(.5);
  text-align: center;
}

.third-item {
  color: white;
  margin-bottom: 5px;
  font-size: 18px;
  text-align: left;
  font-weight: 100;
}

.third-text {
  color: white;
}

.third-small {
  @include span-columns(6);
  @include shift(3);
  color: white;
  font-style: italic;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 5px;
  @include media(max-width 450px) {
    @include span-columns(11.8);
    @include shift(.1);
  }
}

.fourth-left {
  @include span-columns(5);
  @include shift(1);
  min-width: 300px;
  padding-top: 5px;
  @include media(max-width 450px) {
    @include span-columns(10);
    @include shift(1);
    padding-top: 50px;
    transition: 1s;
    text-align: center;
  }
}

.fourth-title {
  color: $purple;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
}

.fourth-text {
  text-align: left;
  color: black;
  font-size: 24px;
}

.fourth-right {
  @include span-columns(4);
  min-width: 400px;
  text-align: center;
  margin-top: 40px;
  @include media(max-width 450px) {
    @include span-columns(10);
    @include shift(.3);
    transition: 1s;
    margin-top: -90px;
    margin-bottom: 30px;
  }
}

.fourth-image {
  height: 450px;
  min-width: 280px;
  @include media(max-width 450px) {
    height: 450px;
  }
}

.fifth-section {
  position: relative;
}

.fifth-left {
  @include span-columns(5);
  @include shift(1);
  min-width: 300px;
  font-size: 24px;
  font-weight: 100;
  @include media(max-width 450px) {
    @include span-columns(10);
    @include shift(1);
    transition: 1s;
  }
}

.fifth-right {
  @include media(max-width 450px) {
    @include span-columns(10);
    @include shift(1.8);
    margin-top: -30px;
    transition: 1s;
  }
}

.fifth-text {
  color: white;
  @include media(max-width 450px) {
    text-align: center;
    transition: 1s;
    margin-bottom: 0;
  }
}

.fifth-title {
  text-align: center;
  font-size: 55px;
  color: $orange;
}

.fifth-logo {
  @include span-columns(2);
  @include shift(5);
  min-width: 200px;
  height: 60px;
  @include media(max-width 450px) {
    @include shift(4.5);
    margin-bottom: 10px;
    margin-top: 10px;
    transition: 1s;
  }
}

.fifth-form {
  width: 310px;
  @include media(max-width 450px) {
    @include span-columns(11);
    @include shift(.5);
    margin-left: -20px;
  }
}

.fifth-image {
  height: 100px;
  width: 200px;
  @include media(max-width 450px) {
    @include shift(-3.3);
  }
}

.fifth-copyright {
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 32px;
  height: 32px;
  @include media(max-width 450px) {
    bottom: 30px;
    left: 185px;
  }
}

.fifth-small {
  @include span-columns(12);
  color: white;
  font-size: 7px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 10px;
  @include media(max-width 450px) {
    @include span-columns(11);
    @include shift(.5);
    margin-top: 100px;
  }
}
